In [9]:
%reload_ext autoreload 
%autoreload 2

In [14]:
from utils import load_titanic_female
filepath= 'C:/Users/jessi/Documents/UNI/Master/2. Semester/Enterprise Architectures for Big Data/git_kata/data/titanic.csv'
female_passengers = load_titanic_female(filepath)

In [15]:
print(female_passengers.head(10))

    pclass  survived                                               name  \
0        1         1                      Allen, Miss. Elisabeth Walton
2        1         0                       Allison, Miss. Helen Loraine
4        1         0    Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
6        1         1                  Andrews, Miss. Kornelia Theodosia
8        1         1      Appleton, Mrs. Edward Dale (Charlotte Lamson)
11       1         1  Astor, Mrs. John Jacob (Madeleine Talmadge Force)
12       1         1                      Aubart, Mme. Leontine Pauline
13       1         1                       Barber, Miss. Ellen "Nellie"
17       1         1    Baxter, Mrs. James (Helene DeLaudeniere Chaput)
18       1         1                              Bazzani, Miss. Albina

       sex   age  sibsp  parch    ticket      fare    cabin embarked boat  \
0   female  29.0      0      0     24160  211.3375       B5        S    2
2   female   2.0      1      2    113781  151.5500  C22 C26        S  NaN
4   female  25.0      1      2    113781  151.5500  C22 C26        S  NaN
6   female  63.0      1      0     13502   77.9583       D7        S   10
8   female  53.0      2      0     11769   51.4792     C101        S    D
11  female  18.0      1      0  PC 17757  227.5250  C62 C64        C    4
12  female  24.0      0      0  PC 17477   69.3000      B35        C    9
13  female  26.0      0      0     19877   78.8500      NaN        S    6
17  female  50.0      0      1  PC 17558  247.5208  B58 B60        C    6
18  female  32.0      0      0     11813   76.2917      D15        C    8

    body                        home.dest
0    NaN                     St Louis, MO
2    NaN  Montreal, PQ / Chesterville, ON
4    NaN  Montreal, PQ / Chesterville, ON
6    NaN                       Hudson, NY
8    NaN              Bayside, Queens, NY
11   NaN                     New York, NY
12   NaN                    Paris, France
13   NaN                              NaN
17   NaN                     Montreal, PQ
18   NaN                              NaN