In [4]:
%reload_ext autoreload 
%autoreload 2

In [5]:
from utils import load_titanic_men
filepath= 'C:/Users/jessi/Documents/UNI/Master/2. Semester/Enterprise Architectures for Big Data/git_kata/data/titanic.csv'
men_passengers = load_titanic_men(filepath)

In [6]:
print(men_passengers.head(10))

    pclass  survived                                  name   sex      age  \
1        1         1        Allison, Master. Hudson Trevor  male   0.9167
3        1         0  Allison, Mr. Hudson Joshua Creighton  male  30.0000
5        1         1                   Anderson, Mr. Harry  male  48.0000
7        1         0                Andrews, Mr. Thomas Jr  male  39.0000
9        1         0               Artagaveytia, Mr. Ramon  male  71.0000
10       1         0                Astor, Col. John Jacob  male  47.0000
14       1         1  Barkworth, Mr. Algernon Henry Wilson  male  80.0000
15       1         0                   Baumann, Mr. John D  male      NaN
16       1         0              Baxter, Mr. Quigg Edmond  male  24.0000
19       1         0                  Beattie, Mr. Thomson  male  36.0000

    sibsp  parch    ticket      fare    cabin embarked boat   body  \
1       1      2    113781  151.5500  C22 C26        S   11    NaN
3       1      2    113781  151.5500  C22 C26        S  NaN  135.0
5       0      0     19952   26.5500      E12        S    3    NaN
7       0      0    112050    0.0000      A36        S  NaN    NaN
9       0      0  PC 17609   49.5042      NaN        C  NaN   22.0
10      1      0  PC 17757  227.5250  C62 C64        C  NaN  124.0
14      0      0     27042   30.0000      A23        S    B    NaN
15      0      0  PC 17318   25.9250      NaN        S  NaN    NaN
16      0      1  PC 17558  247.5208  B58 B60        C  NaN    NaN
19      0      0     13050   75.2417       C6        C    A    NaN

                          home.dest
1   Montreal, PQ / Chesterville, ON
3   Montreal, PQ / Chesterville, ON
5                      New York, NY
7                       Belfast, NI
9               Montevideo, Uruguay
10                     New York, NY
14                    Hessle, Yorks
15                     New York, NY
16                     Montreal, PQ
19                     Winnipeg, MN